.localized-header-connector {
  // when no submenu is active, the menu z-index needs to be lower than the site header
  // so the menu doesn't appear above the full-height mobile slide-in menus
  z-index: z("header") - 1;
  background: var(--header_background);
  position: sticky;
  top: 0;
  transform: translate3d(
    0,
    0,
    0
  ); // reduces icon jitter on scroll in iOS Safari
  padding: 0 20px; // matches core wrap
  display: flex;

  &.submenu-active {
    // when a submenu is active, we need to raise the z-index to ensure it's above the default header
    z-index: z("header") + 1;
  }

  > div {
    display: flex;
    width: 100%;
    max-width: 1076px;
    margin: 0 auto;
  }
}

.d-header-wrap {
  top: 1.87em; // height of localized header
}

.localized-header-nav {
  display: flex;
  list-style-type: none;
  margin: 0.5em 0 0.5em auto;

  a {
    color: gray;
  }

  > li {
    padding: 0;
    font-size: var(--font-down-1);
    font-weight: bold;
    line-height: 1;
    display: flex;
    align-items: center;
    white-space: nowrap;

    &:last-child {
      // submenu positioning
      ul {
        right: 0;
      }
    }

    &:not(:last-child) {
      &::after {
        content: attr(data-divider);
        font-size: var(--font-down-1);
        padding: 0 1em;
        color: gray;
      }
    }

    a {
      display: flex;
      align-items: center;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      .d-icon {
        margin-left: 0.33em;
        font-size: var(--font-down-1);
      }
    }
  }
}

.localized-header-nav-parent {
  position: relative;

  // chevron icon states
  .localized-header-menu-opened {
    display: none;
  }

  &.localized-nav-open {
    .localized-header-menu-opened {
      display: inline-flex;
    }

    .localized-header-menu-closed {
      display: none;
    }
  }

  // submenus
  ul {
    top: 1.5em;
    right: 1em;
    background: var(--header_background);
    padding: 0.75em;
    box-shadow: rgba(0, 0, 0, 0.25) 0 3px 4px;
    position: absolute;
    width: 13em;
    z-index: 9999; // above default header
    list-style-type: none;
    white-space: normal;

    li {
      display: block;
      font-weight: normal;
      line-height: 1;

      &:not(:last-child) {
        margin-bottom: 0.75em;
      }
    }
  }

  &.global-menu {
    font-weight: normal;

    li {
      display: flex;
      line-height: 1.3;

      .d-icon {
        align-self: start;
        margin-top: 0.25em;
        margin-right: 0.5em;
      }
    }
  }
}

// theme settings
#json-editor-holder {
  .je-object__container {
    border-bottom: 1px solid var(--primary-low-mid);
    padding: 0 0 4em;
    margin-bottom: 4em;

    > .btn-group {
      margin-top: 1em;
    }
  }

  table {
    table-layout: fixed;
    background: rgba(0, 0, 0, 0.15);

    td {
      padding: 0.5em 0.5em;
    }
  }

  .json-editor-btn-movedown,
  .json-editor-btn-moveup,
  .json-editor-btn-copy.copy {
    display: none !important;
  }

  h3 {
    display: none !important;
  }

  thead {
    background: var(--secondary);
  }
}

.json-schema-editor-modal .card .je-object__container .btn-group:last-child {
  position: relative;
}

.json-schema-editor-modal .card-body > .btn-group {
  text-align: left;
}
